<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Verify Email</h1>
  <p>Hi <%= username %>,</p>
  <p>Please click on the below link to verify your email address:</p>
  <a href="<%= url %>">Verify Email</a>
</body>
</html>